In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('user_session_events.csv')

In [3]:
df.count()

Unnamed: 0            650539
user_id               650539
session_30_count      650539
session_time          650539
session_events        650539
session_start         650539
session_end           650539
next_session_start    545795
session_bin           389049
session_event_bin     376545
dtype: int64

In [5]:
df_nonan = df.dropna()

In [6]:
df_nonan.count()

Unnamed: 0            254956
user_id               254956
session_30_count      254956
session_time          254956
session_events        254956
session_start         254956
session_end           254956
next_session_start    254956
session_bin           254956
session_event_bin     254956
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.count()

Unnamed: 0            254956
user_id               254956
session_30_count      254956
session_time          254956
session_events        254956
session_start         254956
session_end           254956
next_session_start    254956
session_bin           254956
session_event_bin     254956
dtype: int64

In [34]:
session_time_delta = df[['session_end', 'next_session_start']].dropna()

In [37]:
session_time_delta['session_end'] = pd.to_datetime(session_time_delta['session_end'])
session_time_delta['next_session_start'] = pd.to_datetime(session_time_delta['next_session_start'])

In [47]:
session_time_delta['time_delta'] = (session_time_delta['next_session_start'] - session_time_delta['session_end']).dt.days

In [46]:
session_time_delta.dtypes

session_end           datetime64[ns]
next_session_start    datetime64[ns]
time_delta                     int32
dtype: object

In [50]:
session_time_delta['time_delta'].unique()

array([  0,   1,   2,   4,   6,   3,   5,  13,  46,  94,   8,  10,  26,
        84, 133,   9,  91,  19,  12,   7,  11,  70, 197,  22,  42,  15,
        88,  14,  21,  90,  31,  18,  89,  98,  56,  63,  64,  17, 103,
        24, 224, 122,  38,  30,  32,  82, 182,  97, 153,  55, 104,  28,
        49,  20, 193, 138,  41,  27,  25, 186,  93,  16,  33,  44,  51,
       100, 177,  37, 110,  79,  59,  92,  23,  35, 101,  57, 117, 113,
       105, 106,  78, 107,  96, 112, 115, 143, 172,  29, 102,  45,  40,
       273, 109,  95,  36,  34,  54,  39,  72,  48, 124, 168, 141, 125,
       142,  62, 213,  67, 255,  50, 194,  86, 111, 195,  53, 132, 128,
       151, 116, 147, 120, 245, 121,  69,  58,  47,  99,  81, 119, 136,
       265, 216, 242,  68, 202, 174, 126,  83,  75, 114,  80, 129, 139,
       162, 190, 150,  60,  66,  43, 252,  74, 164,  61, 160, 169, 108,
       123, 189, 137, 140, 148, 250, 247, 159, 236, 154, 156,  65, 231,
       203, 146, 173, 249, 221, 229, 158, 127, 227,  76, 208, 240, 144,
       118,  52, 149, 215, 145,  71, 135, 152, 134, 281, 261,  73, 161,
       205, 131, 170, 226, 238, 185, 183, 295, 166, 130, 184,  77, 167,
       274, 267, 223, 180, 175, 256, 266, 165, 178, 188, 196, 294, 243,
       264,  87, 241, 230, 234, 181, 228, 222, 258, 171, 259, 206, 298,
       244, 176, 235, 293, 187, 225, 237,  85, 268, 275, 232, 210, 192,
       155, 220, 209, 285, 251, 217, 201, 204, 253, 163, 278, 246, 198,
       263, 179, 207, 212, 219, 280, 200, 233, 260, 214, 211, 218, 279,
       287, 262, 157, 270, 284, 291, 272, 292, 257, 269, 199, 248, 283,
       191, 239, 277, 288, 254, 282, 271], dtype=int32)

In [55]:
session_time_delta[session_time_delta['time_delta'] > 2].shape[0] / session_time_delta.shape[0]

0.17850474995190502

In [6]:
df = df[['user_id', 'session_30_count', 'session_time']]

In [8]:
df.dropna()

           user_id  session_30_count  session_time
1              0.0               1.0      1.433333
2              0.0               2.0      9.733333
3              0.0               3.0      1.966667
4              0.0               4.0      0.100000
5              0.0               5.0      9.933333
...            ...               ...           ...
650535  38497700.0               1.0     42.500000
650536  38498510.0               1.0     11.066667
650537  38498973.0               1.0      5.466667
650538  38499104.0               1.0      4.633333
650539  38499697.0               1.0     15.033333

[650539 rows x 3 columns]

In [18]:
df[df['session_time'] <= 30].shape[0] / df.shape[0]

0.6825037661020076

In [13]:
max_user_sessions = df.groupby('user_id').max().reset_index()

In [15]:
max_user_sessions

           user_id  session_30_count  session_time
0              0.0              10.0    110.933333
1              1.0               1.0      4.933333
2              2.0              92.0    315.600000
3              8.0               1.0      0.316667
4             10.0               6.0     41.266667
...            ...               ...           ...
104739  38497700.0               1.0     42.500000
104740  38498510.0               1.0     11.066667
104741  38498973.0               1.0      5.466667
104742  38499104.0               1.0      4.633333
104743  38499697.0               1.0     15.033333

[104744 rows x 3 columns]

In [16]:
max_user_sessions[max_user_sessions['session_30_count'] <=3].count() / max_user_sessions.count()

user_id             0.755604
session_30_count    0.755604
session_time        0.755604
dtype: float64